:root {
  --color-ffffff: #FFFFFF;
  --color-3f78db: #3F78DB;
  --color-0bb579: #0BB579;
  --color-e5ecf9: #E5ECF9;
  --color-0f1217: #0F1217;
  --color-a8a8a8: #A8A8A8;
  --color-0f1217db: #0F1217DB;
  --color-659dfc: #659DFC;
  --color-0f121766: #0F121766;
  --color-2854ad: #2854AD;
  --color-e5ecf9e5: #E5ECF9E5;
  --color-c4c4c4: #C4C4C4;
  --color-659dfc61: #659DFC61;
  --color-db4d4d: #DB4D4D;
  --color-3f78db00: #3F78DB00;
  --color-659dfc59: #659DFC59;
  --color-0d1017: #0D1017;
  --color-659dfcb8: #659DFCB8;
  --color-659dfc2e: #659DFC2E;
  --color-659dfc38: #659DFC38;
  --color-659dfc26: #659DFC26;
  --color-2854ad8c: #2854AD8C;
  --color-3f78db2e: #3F78DB2E;
  --color-3f78db61: #3F78DB61;
  --color-3f78dbe5: #3F78DBE5;
  --color-ffffff05: #FFFFFF05;
  --color-000000: #000000;
  --color-0bb579b8: #0BB579B8;
  --color-0bb579bf: #0BB579BF;
  --color-d9d9d9: #D9D9D9;
  --color-0bb57959: #0BB57959;
  --color-0bb579a1: #0BB579A1;
  --color-a8a8a800: #A8A8A800;
  --color-ffffffe5: #FFFFFFE5;
}
