@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-medium-01a56c402b9f.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-lightitalic-036659cd63e0.ttf") format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-mediumitalic-a07288dea349.ttf") format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-bold-2995cb2da7ea.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-light-e6b9e197edba.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-demibolditalic-febfb9ba2e0e.ttf") format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-demibold-c714b18e838c.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-italic-9bd6b7e65ab0.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-regular-3f59d31491e3.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max Sans';
	src: url("../../../assets/fonts/maxsans-bolditalic-3c3e6e71fd5f.ttf") format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}