:root {
	--black-1: #0d0d0d;
	--black-2: #181818;
	--black-3: #2d2738;
	--white: #fff;
	--gray-1: #c3c3c3;
	--gray-2: #9a9a9a;
	--gray-3: #49494b;
	--gray-4: #272727;
	--purple-1: rgba(40, 29, 57, 0.8);
	--purple-2: #2d2738;
	--blue: #007aff;
	--red: #de124f;
	--btn-bg: linear-gradient(135deg,
			var(--Components-Button-Gradint-Fill-1, #161f8a) 0%,
			var(--Components-Button-Gradint-Fill-2, #2d085f) 100%);
	--gradient: linear-gradient(97deg,
			var(--Components-Button-Hover-Gradint-Fill-1, #01c5c8) 0.32%,
			var(--Components-Button-Hover-Gradint-Fill-2, #046ef4) 44.6%,
			var(--Components-Button-Hover-Gradint-Fill-3, #572dff) 62.16%);
}

[data-scroll-lock] {
	overflow: hidden;
}

.body-wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1268px;
	margin: 0 auto;
	padding: 0 64px;
}

.section {
	padding: 80px 0;
}

body {
	font-family: "Max Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	background-color: var(--black-1);
	color: var(--white);
}

.text-72 {
	font-size: 72px;
	line-height: 100%;
}

.text-56 {
	font-size: 56px;
	line-height: 100%;
}

.text-36 {
	font-size: 36px;
	line-height: 130%;
}

.text-28 {
	font-size: 28px;
	line-height: 140%;
}

.text-24 {
	font-size: 24px;
	line-height: 140%;
}

.text-20 {
	font-size: 20px;
	line-height: 140%;
}

.text-18 {
	font-size: 18px;
	line-height: 140%;
}

.text-12 {
	font-size: 12px;
	line-height: 140%;
}

.content p:not(:last-child) {
	margin-bottom: 1em;
}

.content h2 {
	font-size: 36px;
	line-height: 130%;
	font-weight: 500;
}

.content h2:not(:first-child) {
	margin-top: 40px;
}

.content h2:not(:last-child) {
	margin-bottom: 24px;
}

.content ol {
	padding-left: 20px;
}

.content ul {
	padding-left: 1.5em;
}

.content ul:not(:last-child) {
	margin-bottom: 1em;
}

.content ul>li {
	list-style: disc;
}

@media screen and (max-width: 1024px) {
	.text-72 {
		font-size: 48px;
		line-height: 100%;
	}

	.text-56 {
		font-size: 40px;
		line-height: 100%;
	}

	.text-36 {
		font-size: 26px;
		line-height: 130%;
	}

	.text-28 {
		font-size: 20px;
		line-height: 140%;
	}

	.text-24 {
		font-size: 16px;
		line-height: 140%;
	}

	.text-20 {
		font-size: 16px;
		line-height: 140%;
	}

	.text-18 {
		font-size: 16px;
		line-height: 140%;
	}

	.text-12 {
		font-size: 12px;
		line-height: 140%;
	}

	.content h2 {
		font-size: 26px;
		line-height: 130%;
	}

	.content h2:not(:first-child) {
		margin-top: 32px;
	}

	.content h2:not(:last-child) {
		margin-bottom: 16px;
	}
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.gray-text {
	color: var(--gray-1);
}

.gradient-text {
	background: var(--Gradient-Text, linear-gradient(96deg, var(--Components-Gradient-Text-1, #5A8CFF) 0%, var(--Components-Gradient-Text-2, #43D6FF) 34.86%, var(--Components-Gradient-Text-3, #8F3FFF) 99.6%));

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 12px 24px;
	border-radius: 20px;
	/* border: 1px solid rgba(255, 255, 255, 0.15); */
	background: var(--btn-bg);
	background-size: calc(100% + 2px);
	background-position: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 40px;
	width: 40px;
	height: 40px;
}

.btn__icon img {
	width: 100%;
	height: 100%;
}

.btn::after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--gradient);
	background-size: calc(100% + 2px);
	background-position: center;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

/* .btn:hover::after {
	opacity: 1;
} */

.btn_gradient-bg::after {
	opacity: 1;
}

/* .btn_gradient-bg:hover::after {
	opacity: 0;
} */

.btn_black {
	background: var(--black-2);
	border: none;
}

.btn_wide {
	width: 100%;
}

.checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 16px;
	cursor: pointer;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.checkbox__checkmark {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 24px;
	height: 24px;
}

.checkbox__checkmark svg:nth-child(2) {
	display: none;
}

.checkbox__checkmark svg:nth-child(3) {
	display: none;
}

.checkbox__checkmark svg:nth-child(1) rect:nth-child(2) {
	fill: var(--purple-2);
}

.checkbox__checkmark svg:nth-child(3) rect:nth-child(2) {
	fill: var(--purple-2);
}

.checkbox__input {
	display: none;
}

.checkbox__input:checked~.checkbox__checkmark svg:nth-child(1) {
	display: none;
}

.checkbox__input:checked~.checkbox__checkmark svg:nth-child(2) {
	display: block;
}

.checkbox__text a {
	color: var(--blue);
}

.section-anim {
	z-index: 3;
	position: relative;
	/* background-image: url("../../../assets/illustrations/noise-57111b9fde1a.png"), linear-gradient(180deg, rgba(13, 13, 13, 0) -0.09%, rgba(13, 13, 13, 0.8) 200px);
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-position: center; */
	background-blend-mode: overlay, normal;
	-webkit-backdrop-filter: blur(33px);
	backdrop-filter: blur(33px);
}

.section-anim_border::before {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.25)), color-stop(90%, rgba(255, 255, 255, 0)));
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 90%);
}

.tab__item:not(.tab__item_active) {
	display: none;
}

.accordion__body {
	overflow: hidden;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.main {
	padding-top: 120px;
}

.header {
	position: fixed;
	top: 32px;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__wrapper {
	padding: 23px 40px;
	border-radius: 32px;
	background: var(--purple-1);
	-webkit-box-shadow: 0 40px 25px 0 rgba(0, 0, 0, 0.05), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 40px 25px 0 rgba(0, 0, 0, 0.05), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	margin: 0 -60px;
}

.header__menu-btn {
	display: none;
}

.header__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 42px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.header__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 32px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__link {
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.header__link:hover {
	color: var(--white);
}

.header__link:active {
	color: var(--white);
}

.header__link_active {
	color: var(--white);
	pointer-events: none;
}

.header .nav {
	display: none;
}

.footer-old {
	padding: 96px 0;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
}

.footer-old__wrapper {
	width: 100%;
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-old__list {
	display: flex;
	gap: 36px;
}

.footer-old__copy {
	color: var(--gray-1);
}

.footer-old__link {
	color: var(--gray-1);
	transition: all ease 0.5s;
}

.footer-old__link:hover {
	color: var(--white);
}

.footer {
	padding: 96px 0;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
}

.footer__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 170px;
}

.footer__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
}

.footer__text {
	margin-top: auto;
}

.footer__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	gap: 48px;
}

.footer__col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 8px;
}

.footer__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.footer__link:hover {
	color: var(--white);
}

.footer__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 30px;
}

.footer__logo img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: left center;
	object-position: left center;
}

.entrance__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 70px;
}

.entrance__body {
	width: 100%;
	max-width: 665px;
}

.entrance__title {
	margin-bottom: 32px;
}

.entrance__desc {
	margin-bottom: 64px;
}

.entrance__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 16px;
}

.entrance__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 405px;
	height: 100%;
	position: relative;
	z-index: 1;
}

.entrance__img img {
	width: calc(100% + 20px);
	height: calc(100% + 8px);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.entrance__img video {
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.entrance__img::after {
	display: block;
	content: "";
	width: 290%;
	height: auto;
	aspect-ratio: 1/1;
	background-image: url("../../../assets/vectors/bg-glow-03fe61381adf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: -16%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
	pointer-events: none;
}

.entrance__qr {
	padding: 12px;
	position: relative;
	z-index: 2;
	cursor: default;
}

.entrance__qr:hover {
	width: 196px;
	height: 196px;
	margin-right: -130px;
	margin-bottom: -130px;
}

.entrance__qr:hover .entrance__qr-icon {
	opacity: 0;
}

.entrance__qr:hover .entrance__qr-body {
	opacity: 1;
}

.entrance__qr-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.entrance__qr-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.entrance__qr-body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	padding: 12px;
}

.entrance__qr-body img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.text-img__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 24px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.text-img__text {
	width: 100%;
	max-width: 560px;
}

.text-img__phone {
	width: 100%;
	max-width: 324px;
	height: auto;
	position: relative;
	margin: 0 auto;
}

.text-img__phone img {
	position: absolute;
	width: calc(100% + 20px);
	height: calc(100% + 8px);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.text-img__phone video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	border-radius: 30px;
}

.text-img__call {
	overflow: hidden;
	width: 100%;
	max-width: 165px;
	height: auto;
	position: absolute;
	bottom: 20%;
	left: 2%;
	z-index: 2;
}

.text-img__call video {
	width: 100%;
	height: 100%;
	border: 4px solid rgba(26, 190, 67, 0.5);
	border-radius: 20px;
}

.text-img__img {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0px 10%;
	max-width: 560px;
}

.text-img__img::after {
	display: block;
	content: "";
	width: 170%;
	height: auto;
	aspect-ratio: 1/1;
	background-image: url("../../../assets/vectors/bg-glow-03fe61381adf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}

.text-img__img_left img {
	-o-object-position: left center;
	object-position: left center;
}

.text-img__desc {
	margin-top: 24px;
}

.text-img_reverse .text-img__img {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.logo-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo-block__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 460px;
	height: auto;
	aspect-ratio: 1/1;
	position: relative;
	z-index: 1;
}

.logo-block__img img {
	width: 100%;
	height: auto;
}

.logo-block__img::after {
	display: block;
	content: "";
	width: 290%;
	height: auto;
	aspect-ratio: 1/1;
	background-image: url("../../../assets/vectors/bg-glow-03fe61381adf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	pointer-events: none;
}

.download-block {
	z-index: 3;
	position: relative;
	background-blend-mode: overlay, normal;
	-webkit-backdrop-filter: blur(33px);
	backdrop-filter: blur(33px);
	margin-top: -110px;
}

.download-block::before {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.25)), color-stop(90%, rgba(255, 255, 255, 0)));
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 90%);
	position: absolute;
	top: 0;
	left: 0;
}


.download-block__wrapper {
	padding-bottom: 80px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 64px;
}

.download-tab {
	text-align: center;
}

.download-tab__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	height: 560px;
	position: relative;
}

.download-tab__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.download-tab__img::after {
	display: block;
	content: "";
	width: auto;
	height: 250%;
	aspect-ratio: 1/1;
	background-image: url("../../../assets/vectors/bg-glow-03fe61381adf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	pointer-events: none;
}

.download-tab__btn-mob {
	display: none;
}

.download-tab__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 32px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.download-tab__label {
	margin-top: 32px;
}

.download-tab__wrapper {
	padding-top: 24px;
	padding-bottom: 80px;
}

.download-tab .tab__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 64px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px;
	border-radius: 200px;
	background: var(--purple-1);
}

.download-tab .tab__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 8px 16px;
	border-radius: 100px;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	cursor: pointer;
	color: var(--gray-2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.download-tab .tab__link_active {
	color: var(--white);
	background: var(--gradient);
}

.faq__title {
	margin-bottom: 40px;
}

.faq__wrapper {
	max-width: 752px;
	margin: 0 auto;
	padding: 40px 0 80px;
}

.faq__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
}

.faq__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	background-color: var(--black-2);
	border-radius: 24px;
	gap: 24px;
	padding: 24px;
}

.faq__link:hover {
	background-color: var(--purple-2);
}

.faq__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 32px;
	width: 32px;
	height: 32px;
}

.faq__icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.faq__caret {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.faq__nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.faq__nav-link-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.faq__article-content {
	color: var(--gray-2);
}

.faq__article-content h2 {
	color: var(--white);
}

.faq__article-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 40px;
}

.faq__article-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	border-radius: 32px;
	width: 100%;
	height: auto;
	position: relative;
}

.faq__article-img img {
	width: 100%;
	height: auto;
}

.faq__article-img-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 56px;
	height: 56px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 16px;
	background-color: #0d0d0dcc;
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.faq__article-img-icon svg {
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.faq__article-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 4px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--blue);
}

.faq__article-link:not(:last-child) {
	margin-bottom: 12px;
}

.faq .tab__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	/* margin: 0 auto; */
	margin-bottom: 40px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px;
	border-radius: 200px;
	background: var(--purple-1);
}

.faq .tab__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 8px 16px;
	border-radius: 100px;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	cursor: pointer;
	color: var(--gray-2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.faq .tab__link_active {
	color: var(--white);
	background: var(--gradient);
}

.advantages__wrapper {
	padding: 80px 0;
}

.advantages__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 64px;
	-webkit-column-gap: 90px;
	column-gap: 90px;
	width: 100%;
	max-width: 1012px;
	margin: 0 auto;
}

.advantages__title {
	margin-bottom: 80px;
	text-align: center;
}

.advantages__subtitle {
	display: none;
}

.advantages__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 16px;
}

.advantages__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 48px;
	width: 48px;
	height: 48px;
	margin-top: 12px;
}

.advantages__icon img {
	width: 100%;
	height: 100%;
}

.advantages__desc {
	margin-top: 16px;
}

.faq-block__title {
	margin-bottom: 80px;
	text-align: center;
}

.faq-block__wrapper {
	width: 100%;
	max-width: 752px;
	margin: 0 auto;
}

.faq-block__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
}

.faq-block .accordion__item {
	padding: 24px;
	border-radius: 24px;
	background-color: var(--black-2);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	cursor: pointer;
}

.faq-block .accordion__item:hover {
	background-color: var(--purple-2);
}

.faq-block .accordion__item_open .accordion__btn-caret span:nth-child(2) {
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
}

.faq-block .accordion__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 48px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.faq-block .accordion__btn-caret {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 24px;
	width: 24px;
	height: 24px;
	position: relative;
}

.faq-block .accordion__btn-caret span {
	display: block;
	width: 16px;
	height: 2px;
	border-radius: 10px;
	background-color: var(--white);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.faq-block .accordion__btn-caret span:nth-child(2) {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.faq-block .accordion__body::before {
	display: block;
	content: "";
	height: 16px;
}

.completed__wrapper {
	padding: 80px 0;
	position: relative;
}

.completed__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: auto;
	max-width: 970px;
}

.completed__bg img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.completed__title {
	margin-bottom: 64px;
	text-align: center;
	opacity: 0.8;
}

.completed__subtitle {
	display: none;
}

.completed__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 754px;
	margin: 0 auto;
}

.completed__item {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 480px;
	position: relative;
}

.completed__item:nth-child(even) .completed__text {
	border-radius: 16px 16px 6px 16px;
	background: linear-gradient(93deg, rgba(79, 93, 255, 0.5) 2.97%, rgba(124, 17, 222, 0.5) 100.82%);
}

.completed__item:nth-child(1) {
	margin-left: 58px;
}

.completed__item:nth-child(2) {
	margin-left: auto;
	margin-right: 16px;
}

.completed__item:nth-child(3) {
	margin-left: 73px;
}

.completed__item:nth-child(4) {
	margin-right: 73px;
	margin-left: auto;
}

.completed__item:nth-child(5) {
	margin-left: 146px;
}

.completed__item:nth-child(6) {
	margin-right: 135px;
	margin-left: auto;
}

.completed__item:nth-child(7) {
	margin-left: 113px;
}

.completed__text {
	padding: 16px 24px;
	border-radius: 16px 16px 16px 6px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: linear-gradient(91deg, rgba(44, 57, 176, 0.5) 32.98%, rgba(20, 86, 105, 0.5) 97.09%);
	-webkit-backdrop-filter: blur(7.5px);
	backdrop-filter: blur(7.5px);
}

.completed__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 0;
	left: -106px;
	z-index: -1;
}

.completed__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.completed__img_right {
	left: unset;
	right: -95px;
	bottom: 20px;
	z-index: 1;
}

.video {
	position: relative;
	z-index: 2;
}

.video__heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 64px;
	gap: 24px;
	text-align: center;
}

.video__desc {
	color: var(--gray-1);
	max-width: 580px;
}

.video__wrapper {
	padding-top: 80px;
	width: 100%;
	max-width: 848px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.video__bg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150%;
	height: auto;
	position: absolute;
	top: -45%;
	right: -75%;
	z-index: -1;
	pointer-events: none;
}

.video__bg img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.video__body img {
	width: 100%;
	height: auto;
}

.vacancy__wrapper {
	padding-bottom: 80px;
	position: relative;
}

.vacancy__heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 32px;
	width: 100%;
	max-width: 726px;
	margin: 0 auto;
	margin-bottom: 80px;
	text-align: center;
}

.vacancy__tags {
	position: relative;
	-webkit-mask-image: linear-gradient(90deg, var(--link-bg) calc(100% - 50px), rgba(0, 0, 0, 0) 100%);
	mask-image: linear-gradient(90deg, var(--link-bg) calc(100% - 50px), rgba(0, 0, 0, 0) 100%);
}

.vacancy__tags-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 8px;
	gap: 8px;
	overflow-x: auto;
}

.vacancy__tags-wrapper::-webkit-scrollbar {
	display: none;
}

.vacancy__tag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border-radius: 8px;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(0, 0, 0, 0);
	white-space: nowrap;
}

.vacancy__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
	max-width: 752px;
	width: 100%;
	margin: 0 auto;
}

.vacancy__link {
	--link-bg: var(--black-2);
	border-radius: 24px;
	padding: 24px;
	cursor: pointer;
	background-color: var(--link-bg);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	position: relative;
}

.vacancy__link:hover {
	--link-bg: var(--purple-2);
}

.vacancy__name {
	padding-right: 24px;
}

.vacancy__caret {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 24px;
	right: 24px;
}

.vacancy__label {
	text-align: center;
	margin: 0 auto;
	margin-top: 80px;
}

.vacancy__bg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150%;
	height: auto;
	position: absolute;
	top: -65%;
	left: -65%;
	z-index: 1;
	pointer-events: none;
}

.vacancy__bg img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.vacancy-entrance {
	margin-top: -120px;
	position: relative;
}

.vacancy-entrance__wrapper {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: calc(100vh - 160px);
	position: relative;
	z-index: 1;
}

.vacancy-entrance__title {
	margin-bottom: 24px;
}

.vacancy-entrance__desc {
	max-width: 752px;
}

.vacancy-entrance__btn {
	margin-top: 40px;
	padding: 15px 24px 13px;
}

.vacancy-entrance__video {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0px;
	left: 0px;
}

.vacancy-entrance__video_blended {
	mix-blend-mode: screen;
}

.vacancy-entrance__video video {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.vacancy-entrance__video video:nth-child(2) {
	display: none;
}

.vacancy-page__bg img {
	position: fixed;
	pointer-events: none;
	min-width: 800px;
}

.vacancy-page__bg img:nth-child(1) {
	top: 0;
	right: 50%;
	width: 50%;
	height: auto;
}

.vacancy-page__bg img:nth-child(2) {
	top: 45%;
	left: 30%;
	width: 70%;
	height: auto;
}

.vacancy-page__wrapper {
	padding-top: 40px;
	padding-bottom: 80px;
	max-width: 752px;
	margin: 0 auto;
}

.vacancy-page__nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.vacancy-page__nav-link-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.vacancy-page__title {
	margin-bottom: 40px;
}

.vacancy-page__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 24px;
}

.vacancy-page__info-title {
	margin-bottom: 8px;
}

.vacancy-page__info-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 8px;
}

.vacancy-page__tag {
	border-radius: 12px;
	padding: 8px 12px;
	background: var(--purple-2);
}

.vacancy-page__btn {
	margin-top: 40px;
}

.vacancy-page__content {
	margin-top: 40px;
}

.vacancy-page__advantages {
	margin-top: 40px;
}

.vacancy-page__advantages-title {
	margin-bottom: 40px;
}

.vacancy-page__advantages-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	-webkit-column-gap: 40px;
	column-gap: 40px;
}

.vacancy-page__advantages-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 8px;
}

.vacancy-page__advantages-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 64px;
	height: 64px;
}

.vacancy-page__advantages-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.fancybox__content>.f-button.is-close-btn {
	top: 32px !important;
	right: 32px !important;
	width: 16px;
	height: 16px;
	color: var(--white);
	opacity: 1 !important;
}

.fancybox__content>.f-button.is-close-btn svg {
	opacity: 0.7 !important;
}

.fancybox__content>.f-button.is-close-btn:hover svg {
	opacity: 1 !important;
}

#popup-registration .f-button.is-close-btn::after {
	display: block;
	content: "";
	width: 100%;
	height: 60px;
	background-color: var(--purple-2);
	position: absolute;
	z-index: -1;
	top: -32px;
	left: 0;
}

.popup {
	display: none;
	padding: 0;
	background: none;
	color: var(--white);
	background: var(--purple-2);
	border-radius: 24px;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
}

.popup__form {
	margin: 0 40px;
	overflow-y: auto;
	max-height: 652px;
}

.popup__form::-webkit-scrollbar {
	background: transparent;
	width: 4px;
}

.popup__form::-webkit-scrollbar-thumb {
	background-color: transparent;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	border-radius: 10px;
}

.popup__form_scrolling::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.1);
}

.popup__body {
	padding: 32px 24px;
}

.popup__status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 64px 40px;
}

.popup__status-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 8px;
}

.popup__status-desc {
	margin-top: 16px;
}

.popup_status {
	background: var(--purple-1);
	max-width: 362px;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 40px;
}

.form__inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 16px;
}

.form__input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	position: relative;
}

.form__input-clear {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
	display: none;
}

.form__field {
	width: 100%;
	padding: 14px 12px;
	border-radius: 16px;
	border: 1.5px solid rgba(12, 13, 14, 0);
	background: rgba(255, 255, 255, 0.09);
}

.form__field:focus:not(:placeholder-shown)~.form__input-clear {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form__field_textarea {
	height: 85px;
	resize: none;
}

.form_error .form__field:required:invalid {
	border-color: var(--red);
}

.form_error .checkbox__input:required:not(:checked)~.checkbox__checkmark svg:nth-child(1) {
	display: none;
}

.form_error .checkbox__input:required:not(:checked)~.checkbox__checkmark svg:nth-child(3) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-file {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 12px;
}

.input-file__label {
	color: var(--blue);
	margin-bottom: 4px;
	cursor: pointer;
}

.input-file__field {
	display: none;
}

.input-tel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.input-tel__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	gap: 4px;
	position: absolute;
	top: 0px;
	left: 12px;
}

.input-tel__btn .input-tel__country {
	display: none;
}

.input-tel__btn-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 4px;
}

.input-tel__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-tel__btn-caret {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.input-tel__wrapper {
	width: 100%;
}

.input-tel__field {
	padding-left: 95px;
}

.input-tel__panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	top: calc(100% + 4px);
	left: 0px;
	padding: 16px 12px;
	gap: 16px;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	background-color: var(--black-2);
	z-index: 2;
	border-radius: 16px;
}

.input-tel__panel-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

.input-tel__panel-item .input-tel__code {
	color: var(--gray-1);
	margin-left: auto;
}

.input-tel_show .input-tel__panel {
	opacity: 1;
	pointer-events: all;
}

.input-tel_show .input-tel__btn-caret {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.download-panel {
	display: none;
}

.fancybox__backdrop {
	background-color: #0D0D0DCC;
}

@media screen and (max-width: 1200px) {
	.header__wrapper {
		margin: 0 -32px;
	}

	.footer-old {
		padding-top: 40px;
	}

	.footer-old__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		gap: 20px;
	}

	.footer-old__list {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 0px 48px;
	}

	.btn {
		padding: 10px 24px;
		border-radius: 16px;
	}

	.header__wrapper {
		margin: 0 -16px;
		padding: 16px;
		padding-right: 24px;
		border-radius: 24px;
	}

	.header__body {
		display: none;
	}

	.header__btn {
		/* display: none; */
	}

	.header__menu-btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;

		display: none;
	}

	.header__menu-btn svg:nth-child(2) {
		display: none;
	}

	.header__logo {
		height: 32px;
	}

	.header .nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;

	}

	.header .nav__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 32px;
		margin-top: 64px;
	}

	.header .nav__link {
		font-size: 32px;
		line-height: 100%;
		letter-spacing: -0.64px;
	}

	.header .nav__label {
		margin-top: 205px;
	}

	.header-open .header__menu-btn svg:nth-child(1) {
		display: none;
	}

	.header-open .header__menu-btn svg:nth-child(2) {
		display: block;
	}

	.header-open .header .nav {
		max-height: 585px;
	}

	.entrance__wrapper {
		gap: 15px;
	}

	.entrance__img {
		max-width: 300px;
	}

	.entrance__qr {
		padding: 10px;
	}

	.entrance__list {
		gap: 8px;
	}

	.entrance__title {
		margin-bottom: 24px;
	}

	.entrance__desc {
		margin-bottom: 32px;
	}

	.text-img__img {
		aspect-ratio: 0.72;
		max-width: 360px;
	}

	.logo-block__img {
		max-width: 305px;
		width: 80%;
	}

	.download-block__wrapper {
		gap: 48px;
		padding-bottom: 0;
	}

	.footer__wrapper {
		gap: 110px;
	}

	.footer__body {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.faq__link {
		padding: 24px 16px;
		gap: 16px;
	}

	.video__bg {
		display: none;
	}

	.vacancy-page__bg img:nth-child(1) {
		left: -15%;
		right: unset;
	}

	.vacancy-page__bg img:nth-child(2) {
		top: 45%;
		left: 20%;
		width: 70%;
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.section {
		padding: 60px 0;
	}

	.main {
		padding-top: 80px;
	}

	.container {
		padding: 0px 16px;
	}

	.header {
		top: 16px;
	}

	.header__wrapper {
		margin: 0;
	}

	.footer__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 48px;
	}

	.footer__body {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.entrance {
		text-align: center;
		padding-top: 40px;
	}

	.entrance__list {
		display: none;
	}

	.entrance__wrapper {
		gap: 32px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.entrance__body {
		max-width: 370px;
	}

	.entrance__img {
		max-width: 400px;
	}

	.text-img__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 40px;
	}

	.text-img__text {
		text-align: center;
	}

	.text-img__img {
		-webkit-box-ordinal-group: unset !important;
		-ms-flex-order: unset !important;
		order: unset !important;
		max-width: 570px;
		aspect-ratio: unset;
	}

	.advantages {
		text-align: center;
	}

	.advantages__wrapper {
		padding-top: 60px;
		padding-bottom: 0;
	}

	.advantages__title {
		margin-bottom: 24px;
	}

	.advantages__subtitle {
		/* display: block; */
		margin-bottom: 64px;
	}

	.advantages__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 40px;
	}

	.advantages__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 4px;
		width: 100%;
		max-width: 300px;
	}

	.advantages__icon {
		margin: 0;
		min-width: 40px;
		width: 40px;
		height: 40px;
	}

	.completed__img {
		z-index: 1;
		left: -55px;
		bottom: 15px;
		height: 70px;
		width: 70px;
	}

	.completed__img_right {
		left: unset;
		right: -55px;
		bottom: 35px;
	}

	.completed__list {
		max-width: 500px;
		gap: 8px;
	}

	.completed__item:nth-child(1) {
		margin-left: 0;
	}

	.completed__item:nth-child(2) {
		margin-left: 28px;
		margin-right: 0;
	}

	.completed__item:nth-child(3) {
		margin: 0;
		margin-right: 64px;
	}

	.completed__item:nth-child(4) {
		margin: 0;
		margin-left: 36px;
	}

	.completed__item:nth-child(5) {
		margin: 0 auto;
	}

	.completed__item:nth-child(6) {
		margin-right: 36px;
		margin-left: auto;
	}

	.completed__item:nth-child(7) {
		margin: 0 auto;
	}

	.vacancy__bg {
		width: auto;
		height: 150%;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0.8;
	}

	.vacancy__bg img {
		width: auto;
	}

	.vacancy-entrance {
		margin-top: -80px;
		padding-top: 140px;
	}


	.vacancy-entrance__title {
		margin-bottom: 16px;
	}

	.vacancy-entrance__btn {
		margin-top: 30px;
	}

	/* .vacancy-entrance__video video:nth-child(1) {
		display: none;
	}

	.vacancy-entrance__video video:nth-child(2) {
		display: block;
	} */

	.vacancy-entrance__wrapper {
		min-height: calc(100svh - 200px);
	}

	.vacancy-page__advantages-list {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.vacancy-page__bg img {
		width: 130% !important;
		min-width: 0;
	}

	.vacancy-page__bg img:nth-child(1) {
		left: -25%;
	}

	.vacancy-page__bg img:nth-child(2) {
		top: 70%;
		left: 10%;
	}

	.vacancy-entrance__video_blended {
		display: none;
	}
}

@media screen and (max-width: 570px) {
	.header .nav__label {
		margin-top: 170px;
	}

	.header-open .header .nav {
		max-height: 620px;
	}

	.text-img__desc {
		margin-top: 16px;
	}

	.text-img__text {
		padding: 0px 16px;
	}

	.text-img__call {
		max-width: 115px;
	}

	.download-tab__body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.download-tab__list {
		display: none;
	}

	.download-tab__list.download-tab__list_mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		gap: 8px;
		margin-top: 40px;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.download-tab__list.download-tab__list_mobile .download-tab__btn {
		width: 100%;
	}

	.download-tab__list.download-tab__list_mobile .download-tab__btn::after {
		opacity: 1;
	}

	.download-tab__label {
		margin-top: 16px;
		padding: 16px;
	}

	.download-tab__title {
		font-size: 32px;
	}

	.download-tab__btn-mob {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 40px;
	}

	.download-tab__img {
		width: 100%;
		max-width: 270px;
		height: 400px;
		margin: 0 auto;
	}

	.download-tab__img img {
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: top center;
		object-position: top center;
	}

	.download-tab__img:nth-child(3) {
		max-width: 100%;
	}

	.download-tab__img:nth-child(3) img {
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: top center;
		object-position: top center;
	}

	.download-tab .tab__header {
		margin-bottom: 40px;
		background: none;
	}

	.faq__title {
		margin-bottom: 32px;
	}

	.faq__list {
		gap: 8px;
	}

	.faq__icon {
		min-width: 24px;
		width: 24px;
		height: 24px;
	}

	.faq__nav-link {
		margin-bottom: 32px;
	}

	.faq__article-wrapper {
		gap: 32px;
	}

	.faq__article-img-icon {
		width: 40px;
		height: 40px;
		border-radius: 12px;
	}

	.faq__article-img {
		border-radius: 24px;
	}

	.faq .tab__header-wrapper {
		overflow-x: auto;
		padding: 0 16px;
		margin: 0 -16px;
		margin-bottom: 32px;
	}

	.faq .tab__header-wrapper::-webkit-scrollbar {
		display: none;
	}

	.faq .tab__header {
		padding: 0;
		background: none;
		margin-bottom: 0;
	}

	.faq-block__title {
		margin-bottom: 64px;
	}

	.faq-block .accordion__item {
		padding: 16px;
		border-radius: 16px;
	}

	.video__heading {
		margin-bottom: 32px;
	}

	.vacancy__link {
		padding: 16px;
	}

	.vacancy__caret {
		top: 16px;
		right: 16px;
		width: 16px;
		height: 16px;
	}

	.vacancy__caret svg {
		width: 100%;
		height: 100%;
	}

	.vacancy__heading {
		margin-bottom: 40px;
		gap: 24px;
	}

	.vacancy-entrance__title {
		font-size: 32px;
	}

	.vacancy-entrance__title span {
		display: none;
	}

	.vacancy-entrance__desc {
		line-height: 125%;
	}

	.vacancy-page__wrapper {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.vacancy-page__btn {
		width: 100%;
		margin-top: 32px;
	}

	.vacancy-page__nav-link {
		margin-bottom: 32px;
	}

	.vacancy-page__content {
		margin-top: 32px;
	}

	.popup__form {
		margin: 0 7px;
	}

	.popup__body {
		padding: 32px 9px;
	}

	.download-panel {
		position: fixed;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		bottom: 0;
		left: 0;
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
		background: rgba(13, 13, 13, 0.8);
		padding: 8px 16px;
		z-index: 10;
	}

	.download-panel__bg {
		display: block;
		width: 100vh;
		height: 100vh;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		pointer-events: none;
	}

	.download-panel__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 24px;
	}

	.download-panel__link {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.download-panel__title {
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 24px;
		text-align: center;
		position: relative;
	}

	.download-panel__title::before {
		display: block;
		content: "";
		width: 40px;
		height: 4px;
		border-radius: 10px;
		background-color: var(--purple-2);
		margin: 0 auto;
		margin-bottom: 24px;
	}

	.download-panel__body {
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;
		overflow: hidden;
		height: 0;
	}

	.download-panel__btn {
		-webkit-transition: margin ease 0.5s;
		transition: margin ease 0.5s;
	}

	.download-panel_open .download-panel__bg {
		pointer-events: all;
	}

	.vacancy-page__top .vacancy-page__btn {
		display: none;
	}

	.completed__title {
		margin-bottom: 24px;
	}

	.completed__subtitle {
		/* display: block; */
		margin-bottom: 32px;
		text-align: center;
	}

	.text-img__title {
		font-size: 32px;
		line-height: 100%;
		max-width: 256px;
		margin-left: auto;
		margin-right: auto;
	}

	.fancybox__content>.f-button.is-close-btn {
		right: 16px !important;
	}

	.popup__title {
		padding-right: 20px;
	}
}

.grecaptcha-badge {
	display: none;
}

.form__bottom {
	display: none;
}

.captcha-container {
	display: none;
}